* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: aquamarine;
}

.container {
  background-color: antiquewhite;
  padding: 30px;
  text-align: center;
  width: 650px;
}

form {
  padding: 20px 0;
}

input {
  margin: 10px 0;
}

input.text {
  width: 100%;
  padding: 10px;
}

input:last-child {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(25, 136, 136);
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}

.error {
  display: none;
  background-color: #fff;
  color: red;
  padding: 5px;
  border-radius: 5px;
}

.show {
  display: inherit;
}

.message {
  color: rgb(25, 136, 136);
  font-size: 25px;
}